* {
    box-sizing: border-box;
  }

body {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  background: url("food_Vegetables.jpg");
}

section {
  background-color: rgba(255, 255, 255, .7);
}

p {
  font-weight: bolder;
}

button {
  font-size: medium;
    display: inline-block;
    margin: 5px auto 0;
    margin-right: 5px;
}

@media screen and (min-width: 1024px) {
  body {
    text-align: center;
    width: 500px;
    margin: auto;
  }
}
