* {
    box-sizing: border-box;
  }

body {
  text-align: center;
}

.meal-entry {
  text-align: center;
  padding: 10px;
  width: 85%;
  height: fit-content;
  margin: auto;
}

.meal {
  border: 1px black solid;
  background-color: white;
}

.mealID {
  text-decoration: none;
  color: black;
}


