* {
    box-sizing: border-box;
  }

body {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  background: url("food_Vegetables.jpg");
}

/* .landingPage > section {
  background: black;
  visibility: visible;
  opacity: 70%;
  -webkit-filter: blur(4px);
  filter: blur(4px);
} */


button {
    display: inline-block;
    margin: 5px auto 0;
}

@media screen and (min-width: 1024px) {
  body {
    text-align: center;
    width: 500px;
    margin: auto;
  }
}
