* {
    box-sizing: border-box;
  }

body {
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
}

section {
  border: solid black 1px;
  margin-top: 20px;
  margin-bottom: 10px;
}

button {
    display: inline-block;
    margin: 5px auto 0;
}